.box{
	width: auto;
	height: auto;
	background-color: red;
}

.box h1{
	color: white;
	font-size: 50px;
}

.box1{
	height: 50px;
	background-color: cyan;
}

.box2{
	height: 50px;
	background-color: yellowgreen;
}

.box3{
	height: 40px;
	background-color: red;
}
